flows_raspberrypi.json
[{"id":"ca75a0fd.ccac8","type":"tab","label":"CoAP_3","disabled":false,"info":""},{"id":"9f90c7fd.9a99c8","type":"tab","label":"MQTT_1","disabled":false,"info":""},{"id":"5255e862.3159e8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf04708d.e5fdb","type":"ui_group","z":"","name":"Charts","tab":"fe47136a.c87178","disp":true,"width":"12"},{"id":"74b5faa0.d65764","type":"ui_group","z":"","name":"Extra Info","tab":"fe47136a.c87178","disp":true,"width":"6"},{"id":"fe47136a.c87178","type":"ui_tab","z":"","name":"CoAP demo ","icon":"dashboard"},{"id":"55fe1b24.d199a4","type":"ui_group","z":"","name":"Home office","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"21024b5f.be3254","type":"ui_spacer","name":"spacer","group":"55fe1b24.d199a4","order":3,"width":1,"height":1},{"id":"b6f6eeab.ba605","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"48a287d0.e6c0e8","type":"ui_group","z":"","name":"Graphs","tab":"c8a82455.8d2d68","disp":true,"width":"20"},{"id":"e7cb1936.026188","type":"ui_group","z":"","name":"Extra Info","tab":"c8a82455.8d2d68","disp":true,"width":"6"},{"id":"c8a82455.8d2d68","type":"ui_tab","z":"","name":"MQTT Demo","icon":"dashboard","order":1},{"id":"365b6bc8.749fa4","type":"http request","z":"ca75a0fd.ccac8","name":"Faan","method":"GET","ret":"txt","url":"http://[bbbb::100]/sensors.html","tls":"","x":470,"y":360,"wires":[["58cdd7d.d1d34a8","c973f723.4bc6a"]]},{"id":"58cdd7d.d1d34a8","type":"html","z":"ca75a0fd.ccac8","name":"extract","tag":"a[href^=\"sensor?ip=\"]","ret":"html","as":"single","x":610,"y":360,"wires":[["96fc04b3.d10f","c95766fb.30cc3"]]},{"id":"e99382b2.eabd2","type":"inject","z":"ca75a0fd.ccac8","name":"","topic":"trigg","payload":"gris","payloadType":"flow","repeat":"","crontab":"","once":false,"x":320,"y":360,"wires":[["365b6bc8.749fa4"]]},{"id":"23a13b13.5ae3dc","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"console":true,"complete":"payload","x":860,"y":400,"wires":[]},{"id":"96fc04b3.d10f","type":"function","z":"ca75a0fd.ccac8","name":"Motes Addresses","func":"var length = msg.payload.length; \nvar addresses = [];\n\nfor(i=0; i<length; i++)\n    {\n    var start_index = msg.payload[i].indexOf(\"aaaa\");\n    var stop_index = msg.payload[i].length;\n    var res = msg.payload[i].substring(start_index, stop_index);\n    addresses.push(res);\n    }\n\nmsg.payload = addresses;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["23a13b13.5ae3dc"]]},{"id":"1de055c.8ec492a","type":"inject","z":"ca75a0fd.ccac8","name":"Fire once on start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":350,"y":480,"wires":[["fcd9b39f.f5f"]]},{"id":"1788932c.9954a5","type":"debug","z":"ca75a0fd.ccac8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":780,"y":480,"wires":[]},{"id":"d7c194c7.3d7178","type":"exec","z":"ca75a0fd.ccac8","command":"sudo ip -6 addr add bbbb::101/64 dev wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"add routes","x":510,"y":200,"wires":[["792ad010.c24a38"],[],[]]},{"id":"ea0d6b45.fcc1a8","type":"inject","z":"ca75a0fd.ccac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":323.59999084472656,"y":201.6999969482422,"wires":[["d7c194c7.3d7178"]]},{"id":"792ad010.c24a38","type":"debug","z":"ca75a0fd.ccac8","name":"","active":false,"console":"true","complete":"payload","x":698.0999908447266,"y":187.6999969482422,"wires":[]},{"id":"aa5b0509.3ac13","type":"exec","z":"ca75a0fd.ccac8","command":"sudo route -A inet6 add aaaa::/64 gw bbbb::100","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"add routes","x":508.09999084472656,"y":247.6999969482422,"wires":[["19fddc05.9a6fb4"],[],[]]},{"id":"37a9d1cd.15f6f6","type":"inject","z":"ca75a0fd.ccac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":321.6999816894531,"y":249.39999389648438,"wires":[["aa5b0509.3ac13"]]},{"id":"19fddc05.9a6fb4","type":"debug","z":"ca75a0fd.ccac8","name":"","active":false,"console":"true","complete":"payload","x":698.0999908447266,"y":227.6999969482422,"wires":[]},{"id":"c56c0751.9084f8","type":"exec","z":"ca75a0fd.ccac8","command":"sudo ip -6 addr add bbbb::101/64 dev wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"add routes","x":508.09999084472656,"y":147.6999969482422,"wires":[["9cee4dc6.1a9d78"],[],[]]},{"id":"ab0389ea.99d828","type":"inject","z":"ca75a0fd.ccac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":318.09999084472656,"y":147.6999969482422,"wires":[["c56c0751.9084f8"]]},{"id":"9cee4dc6.1a9d78","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"console":"true","complete":"payload","x":700,"y":140,"wires":[]},{"id":"f4942588.c18d4","type":"exec","z":"ca75a0fd.ccac8","command":"service 6lbr start && service 6lbr status","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"6lbr service","x":510,"y":80,"wires":[["bea2b19b.6f0fd8"],[],[]]},{"id":"782270f9.313728","type":"inject","z":"ca75a0fd.ccac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":318.09999084472656,"y":87.69999694824219,"wires":[["f4942588.c18d4"]]},{"id":"bea2b19b.6f0fd8","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"console":"true","complete":"payload","x":700,"y":80,"wires":[]},{"id":"c95766fb.30cc3","type":"debug","z":"ca75a0fd.ccac8","name":"","active":false,"console":true,"complete":"payload","x":780,"y":360,"wires":[]},{"id":"a4eac1c5.90343","type":"inject","z":"ca75a0fd.ccac8","name":"Fire once on start","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":350,"y":560,"wires":[["c39305f2.c8d8f"]]},{"id":"4e8a9b60.6ea504","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":780,"y":560,"wires":[]},{"id":"865a89c6.8743a8","type":"comment","z":"ca75a0fd.ccac8","name":"various system initialization","info":"","x":348.09999084472656,"y":47.69999694824219,"wires":[]},{"id":"e77aca7f.570f68","type":"comment","z":"ca75a0fd.ccac8","name":"extract motes IPv6 addresses from the router website","info":"","x":440,"y":320,"wires":[]},{"id":"7b8f23bd.dce374","type":"comment","z":"ca75a0fd.ccac8","name":"coap://[fd00::212:4b00:1204:c9f0]:5683/sen/adc/dio23","info":"","x":460,"y":520,"wires":[]},{"id":"52d60cb0.5a061c","type":"comment","z":"ca75a0fd.ccac8","name":"coap://[fd00::212:4b00:1204:c9f0]:5683/.well-known/core","info":"","x":450,"y":440,"wires":[]},{"id":"f801a9c9.803ec","type":"ui_chart","z":"ca75a0fd.ccac8","name":"ADC DIO23","group":"bf04708d.e5fdb","order":0,"width":"0","height":"0","label":"ADC DIO23","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"3500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":560,"wires":[[],[]]},{"id":"fba4122a.8f9008","type":"ui_chart","z":"ca75a0fd.ccac8","name":"HDC Humidity","group":"bf04708d.e5fdb","order":0,"width":0,"height":0,"label":"HDC Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1000,"y":600,"wires":[[],[]]},{"id":"e91cfe9a.f7d3d","type":"ui_chart","z":"ca75a0fd.ccac8","name":"HDC Temp","group":"bf04708d.e5fdb","order":0,"width":0,"height":0,"label":"HDC Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":640,"wires":[[],[]]},{"id":"2842f6b3.4cd83a","type":"ui_chart","z":"ca75a0fd.ccac8","name":"Air Pressure","group":"bf04708d.e5fdb","order":0,"width":0,"height":0,"label":"Air Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":680,"wires":[[],[]]},{"id":"324216e3.0de61a","type":"ui_chart","z":"ca75a0fd.ccac8","name":"Light","group":"bf04708d.e5fdb","order":0,"width":0,"height":0,"label":"Light","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":970,"y":720,"wires":[[],[]]},{"id":"f3bb52c5.616fb","type":"ui_numeric","z":"ca75a0fd.ccac8","name":"Uptime","label":"Uptime (sec)","group":"74b5faa0.d65764","order":1,"width":"6","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":980,"y":780,"wires":[[]]},{"id":"31e9d66e.36d9da","type":"ui_gauge","z":"ca75a0fd.ccac8","name":"RSSI (dBm)","group":"74b5faa0.d65764","order":3,"width":0,"height":0,"gtype":"gage","title":"RSSI (dBm)","label":"units","format":"{{value}}","min":"-100","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":820,"wires":[]},{"id":"1ad03229.2a7876","type":"comment","z":"ca75a0fd.ccac8","name":"graphs","info":"","x":970,"y":520,"wires":[]},{"id":"1541d1a9.418036","type":"inject","z":"ca75a0fd.ccac8","name":"Fire once on start","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":350,"y":600,"wires":[["debbd5df.60816"]]},{"id":"4d02933a.f50864","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":770,"y":600,"wires":[]},{"id":"2f5d0062.667f58","type":"inject","z":"ca75a0fd.ccac8","name":"Fire once on start","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":350,"y":640,"wires":[["a427297d.70cc78"]]},{"id":"20ea06d.25f177a","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":770,"y":640,"wires":[]},{"id":"a9c3c33e.f93448","type":"inject","z":"ca75a0fd.ccac8","name":"Fire once on start","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":350,"y":680,"wires":[["be882fcd.c7fa5"]]},{"id":"c7290b5e.1174d8","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":770,"y":680,"wires":[]},{"id":"c88d3571.e59358","type":"inject","z":"ca75a0fd.ccac8","name":"Fire once on start","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":350,"y":720,"wires":[["94d34281.1a45c8"]]},{"id":"12dd070b.8ecbf9","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":770,"y":720,"wires":[]},{"id":"5a50165.f854868","type":"inject","z":"ca75a0fd.ccac8","name":"Fire once on start","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":350,"y":780,"wires":[["dde06f9f.84da08"]]},{"id":"30d44d4b.7ebf42","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":770,"y":780,"wires":[]},{"id":"d10cb9a0.416b7","type":"inject","z":"ca75a0fd.ccac8","name":"Fire once on start","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":350,"y":820,"wires":[["23e479da.91ab4e"]]},{"id":"445c4fb8.d241b8","type":"debug","z":"ca75a0fd.ccac8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":770,"y":820,"wires":[]},{"id":"c973f723.4bc6a","type":"debug","z":"ca75a0fd.ccac8","name":"","active":false,"console":"true","complete":"payload","x":793.5,"y":294.4000244140625,"wires":[]},{"id":"fcd9b39f.f5f","type":"coap request","z":"ca75a0fd.ccac8","method":"GET","observe":false,"url":"coap://[fd00::212:4b00:1204:c9f0]:5683/.well-known/core","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":570,"y":480,"wires":[["1788932c.9954a5"]]},{"id":"c39305f2.c8d8f","type":"coap request","z":"ca75a0fd.ccac8","method":"GET","observe":false,"url":"coap://[fd00::212:4b00:1204:c9f0]:5683/sen/adc/dio23","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":570,"y":560,"wires":[["4e8a9b60.6ea504","f801a9c9.803ec"]]},{"id":"debbd5df.60816","type":"coap request","z":"ca75a0fd.ccac8","method":"GET","observe":false,"url":"coap://[fd00::212:4b00:1204:c9f0]:5683/sen/hdc/h","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":570,"y":600,"wires":[["4d02933a.f50864","fba4122a.8f9008"]]},{"id":"a427297d.70cc78","type":"coap request","z":"ca75a0fd.ccac8","method":"GET","observe":false,"url":"coap://[fd00::212:4b00:1204:c9f0]:5683/sen/hdc/t","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":570,"y":640,"wires":[["20ea06d.25f177a","e91cfe9a.f7d3d"]]},{"id":"be882fcd.c7fa5","type":"coap request","z":"ca75a0fd.ccac8","method":"GET","observe":false,"url":"coap://[fd00::212:4b00:1204:c9f0]:5683/sen/bar/pres","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":570,"y":680,"wires":[["c7290b5e.1174d8","2842f6b3.4cd83a"]]},{"id":"94d34281.1a45c8","type":"coap request","z":"ca75a0fd.ccac8","method":"GET","observe":false,"url":"coap://[fd00::212:4b00:1204:c9f0]:5683/sen/opt/light","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":570,"y":720,"wires":[["12dd070b.8ecbf9","324216e3.0de61a"]]},{"id":"dde06f9f.84da08","type":"coap request","z":"ca75a0fd.ccac8","method":"GET","observe":false,"url":"coap://[fd00::212:4b00:1204:c9f0]:5683/dev/uptime","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":570,"y":780,"wires":[["30d44d4b.7ebf42","f3bb52c5.616fb"]]},{"id":"23e479da.91ab4e","type":"coap request","z":"ca75a0fd.ccac8","method":"GET","observe":false,"url":"coap://[fd00::212:4b00:1204:c9f0]:5683/net/parent/RSSI","content-format":"application/json","raw-buffer":false,"name":"Subscribe to topic1","x":570,"y":820,"wires":[["445c4fb8.d241b8","31e9d66e.36d9da"]]},{"id":"cbe9b659.3dcf18","type":"mqtt in","z":"9f90c7fd.9a99c8","name":"MQTT_demo","topic":"#","qos":"2","broker":"b6f6eeab.ba605","x":110,"y":320,"wires":[["db78ae1a.ae9fa"]]},{"id":"4a7bda9b.8cc124","type":"debug","z":"9f90c7fd.9a99c8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":420,"y":280,"wires":[]},{"id":"db78ae1a.ae9fa","type":"json","z":"9f90c7fd.9a99c8","name":"","pretty":false,"x":250,"y":320,"wires":[["7254e5e7.78e7bc","4a7bda9b.8cc124","ee2de703.99eb18","e25b2ab5.8801d8","3cbb1423.0ef71c","6c55a43b.c483ac","e6b02f10.c16b5","431cf028.b8664","459c2628.b089d8"]]},{"id":"c21f5f4b.88c54","type":"debug","z":"9f90c7fd.9a99c8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":660,"y":280,"wires":[]},{"id":"7254e5e7.78e7bc","type":"function","z":"9f90c7fd.9a99c8","name":"ADC DIO23 (mV)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"ADC DIO23 (mV)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["c21f5f4b.88c54","6d18a904.0a46e8"]]},{"id":"15f92575.624c0b","type":"exec","z":"9f90c7fd.9a99c8","command":"service 6lbr start && service 6lbr status","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"6lbr service","x":290,"y":100,"wires":[["cdf61273.6cf0b"],[],[]]},{"id":"a80a19fc.059718","type":"inject","z":"9f90c7fd.9a99c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":100,"wires":[["15f92575.624c0b"]]},{"id":"cdf61273.6cf0b","type":"debug","z":"9f90c7fd.9a99c8","name":"","active":true,"tosidebar":true,"console":true,"complete":"payload","x":480,"y":80,"wires":[]},{"id":"6aac1ab0.2f0704","type":"exec","z":"9f90c7fd.9a99c8","command":"sudo route -A inet6 add aaaa::/64 gw bbbb::100","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"add routes","x":290,"y":160,"wires":[["4d13c792.99a148"],[],[]]},{"id":"8192c7cc.e85488","type":"inject","z":"9f90c7fd.9a99c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":160,"wires":[["6aac1ab0.2f0704"]]},{"id":"4d13c792.99a148","type":"debug","z":"9f90c7fd.9a99c8","name":"","active":true,"tosidebar":true,"console":true,"complete":"payload","x":480,"y":140,"wires":[]},{"id":"c8d45df3.8c9e","type":"exec","z":"9f90c7fd.9a99c8","command":"sudo ip -6 addr add bbbb::101/64 dev tap0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"add routes","x":290,"y":220,"wires":[["fe95c75a.af9818"],[],[]]},{"id":"ebb03df.c9ff9c","type":"inject","z":"9f90c7fd.9a99c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":220,"wires":[["c8d45df3.8c9e"]]},{"id":"fe95c75a.af9818","type":"debug","z":"9f90c7fd.9a99c8","name":"","active":true,"tosidebar":true,"console":true,"complete":"payload","x":480,"y":200,"wires":[]},{"id":"6d18a904.0a46e8","type":"ui_chart","z":"9f90c7fd.9a99c8","name":"ADC DIO23","group":"48a287d0.e6c0e8","order":0,"width":0,"height":0,"label":"ADC DIO23","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":320,"wires":[[],[]]},{"id":"ee2de703.99eb18","type":"function","z":"9f90c7fd.9a99c8","name":"HDC Humidity (%RH)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Humidity (%RH)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["c8c4b25.7e7475"]]},{"id":"c8c4b25.7e7475","type":"ui_chart","z":"9f90c7fd.9a99c8","name":"HDC Humidity","group":"48a287d0.e6c0e8","order":0,"width":0,"height":0,"label":"HDC Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":360,"wires":[[],[]]},{"id":"e25b2ab5.8801d8","type":"function","z":"9f90c7fd.9a99c8","name":"HDC Temp (C)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Temp (C\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["338331c8.c3dc6e"]]},{"id":"338331c8.c3dc6e","type":"ui_chart","z":"9f90c7fd.9a99c8","name":"HDC Temp","group":"48a287d0.e6c0e8","order":0,"width":0,"height":0,"label":"HDC Temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":400,"wires":[[],[]]},{"id":"3cbb1423.0ef71c","type":"function","z":"9f90c7fd.9a99c8","name":"Air Pressure (hPa)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Air Pressure (hPa)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["54527c65.5d5434"]]},{"id":"54527c65.5d5434","type":"ui_chart","z":"9f90c7fd.9a99c8","name":"Air Pressure","group":"48a287d0.e6c0e8","order":0,"width":0,"height":0,"label":"Air Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":440,"wires":[[],[]]},{"id":"6c55a43b.c483ac","type":"function","z":"9f90c7fd.9a99c8","name":"Light (lux)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Light (lux)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["c9c58967.8f7428"]]},{"id":"c9c58967.8f7428","type":"ui_chart","z":"9f90c7fd.9a99c8","name":"Light","group":"48a287d0.e6c0e8","order":0,"width":0,"height":0,"label":"Light","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":480,"wires":[[],[]]},{"id":"e6b02f10.c16b5","type":"function","z":"9f90c7fd.9a99c8","name":"Uptime (sec)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Uptime (sec)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["3f27a144.adb5be"]]},{"id":"431cf028.b8664","type":"function","z":"9f90c7fd.9a99c8","name":"RSSI (dBm)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"RSSI (dBm)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["a288cc95.1251f"]]},{"id":"459c2628.b089d8","type":"function","z":"9f90c7fd.9a99c8","name":"Seq #","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Seq #\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":390,"y":640,"wires":[["e2427e35.a864d"]]},{"id":"e2427e35.a864d","type":"ui_numeric","z":"9f90c7fd.9a99c8","name":"Seq #","label":"Seq #","group":"e7cb1936.026188","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":570,"y":640,"wires":[[]]},{"id":"3f27a144.adb5be","type":"ui_text","z":"9f90c7fd.9a99c8","group":"e7cb1936.026188","order":0,"width":0,"height":0,"name":"uptime","label":"uptime","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":560,"wires":[]},{"id":"a288cc95.1251f","type":"ui_gauge","z":"9f90c7fd.9a99c8","name":"RSSI","group":"e7cb1936.026188","order":0,"width":0,"height":0,"gtype":"gage","title":"RSSI","label":"units","format":"{{value}}","min":"-100","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":600,"wires":[]}]