flows_raspberrypi.json
[{"id":"24ab74af.68300c","type":"tab","label":"GUI","disabled":false,"info":""},{"id":"c896df7f.eda8b","type":"tab","label":"Ebb&Flow cycles","disabled":false,"info":""},{"id":"2c5df8b0.5e7398","type":"tab","label":"MQTT Test","disabled":false,"info":""},{"id":"245d5f3.56f55a","type":"tab","label":"Control Loop Test","disabled":false,"info":""},{"id":"334a7904.fbb0a6","type":"tab","label":"Control loop","disabled":false,"info":""},{"id":"5255e862.3159e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#3cc9ff","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#3cc9ff","edited":true},"page-titlebar-backgroundColor":{"value":"#3cc9ff","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#88deff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#3cc9ff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fe47136a.c87178","type":"ui_tab","z":"","name":"CoAP demo ","icon":"dashboard"},{"id":"55fe1b24.d199a4","type":"ui_group","z":"","name":"Home office","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"21024b5f.be3254","type":"ui_spacer","name":"spacer","group":"55fe1b24.d199a4","order":3,"width":1,"height":1},{"id":"b6f6eeab.ba605","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8a82455.8d2d68","type":"ui_tab","z":"","name":"MQTT Demo","icon":"dashboard","order":1},{"id":"37014467.ec608c","type":"ui_tab","z":"","name":"GUI","icon":"fa-rub","disabled":false,"hidden":false},{"id":"e4c16ae6.aad898","type":"ui_group","z":"","name":"                                      Farmer's dashboard","tab":"37014467.ec608c","order":1,"disp":true,"width":"18","collapse":false},{"id":"8ec3c4d7.c7d558","type":"sqlitedb","z":"","db":"plant-1.db","mode":"RWC"},{"id":"3ddc84fd.0e799c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cb44c259.c6e7c","type":"ui_tab","z":"","name":"SQLite Demo","icon":"dashboard","order":3},{"id":"8b8876b1.2f8008","type":"ui_tab","z":"","name":"Shed","icon":"dashboard","disabled":false,"hidden":false},{"id":"f932708f.370c4","type":"ui_group","z":"","name":"Equipment status","tab":"37014467.ec608c","order":2,"disp":true,"width":"4","collapse":false},{"id":"e6f82beb.2273d8","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"f36a2d01.590a5","type":"mqtt in","z":"2c5df8b0.5e7398","name":"MQTT test","topic":"iot-2/evt/test/fmt/json","qos":"2","broker":"b6f6eeab.ba605","x":120,"y":160,"wires":[["3cb9c7c.bcc4b38"]]},{"id":"3cb9c7c.bcc4b38","type":"json","z":"2c5df8b0.5e7398","name":"","property":"payload","action":"","pretty":false,"x":370,"y":160,"wires":[["ddcac835.1920c8","17881c5f.178814","ba32a771.fa7638","f9126030.c69fa"]]},{"id":"ddcac835.1920c8","type":"function","z":"2c5df8b0.5e7398","name":"Level sensor (level)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Level sensor (level)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["cbf34da4.bba2d"]]},{"id":"cbf34da4.bba2d","type":"debug","z":"2c5df8b0.5e7398","name":"Level sensor (discrete)","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":830,"y":160,"wires":[]},{"id":"17881c5f.178814","type":"function","z":"2c5df8b0.5e7398","name":"HDC Humidity (%RH)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Humidity (%RH)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["bc6522a3.7d2e8"]]},{"id":"ba32a771.fa7638","type":"function","z":"2c5df8b0.5e7398","name":"HDC Temp (C)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Temp (C)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["e9c53aae.1a9558"]]},{"id":"bc6522a3.7d2e8","type":"debug","z":"2c5df8b0.5e7398","name":"Humidity","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":790,"y":220,"wires":[]},{"id":"e9c53aae.1a9558","type":"debug","z":"2c5df8b0.5e7398","name":"Temperature","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":800,"y":280,"wires":[]},{"id":"f9126030.c69fa","type":"function","z":"2c5df8b0.5e7398","name":"Light (lux)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Light (lux)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["a4722848.b98d18"]]},{"id":"a4722848.b98d18","type":"debug","z":"2c5df8b0.5e7398","name":"Light level (lux)","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":810,"y":340,"wires":[]},{"id":"b12e6b5f.211ad8","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test pump","topic":"iot-2/cmd/test/pump/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":670,"y":580,"wires":[]},{"id":"212c5388.84260c","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":560,"wires":[["b12e6b5f.211ad8"]]},{"id":"ca55f7f3.3a9648","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":600,"wires":[["b12e6b5f.211ad8"]]},{"id":"292d3215.51ebfe","type":"mqtt in","z":"24ab74af.68300c","name":"MQTT_demo","topic":"iot-2/evt/plant-1/fmt/json","qos":"2","broker":"b6f6eeab.ba605","x":90,"y":400,"wires":[["a760f317.6224e"]]},{"id":"a760f317.6224e","type":"json","z":"24ab74af.68300c","name":"","property":"payload","action":"","pretty":false,"x":250,"y":400,"wires":[["a76beac6.660538","59e49da1.04aa84","df8817aa.6fbb68","8b041c96.50c21"]]},{"id":"a76beac6.660538","type":"function","z":"24ab74af.68300c","name":"HDC Humidity (%RH)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Humidity (%RH)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["2ea0741a.f059ac"]]},{"id":"2ea0741a.f059ac","type":"ui_chart","z":"24ab74af.68300c","name":"Humidity","group":"e4c16ae6.aad898","order":0,"width":"9","height":"5","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":420,"wires":[[]],"icon":"node-red/trigger.png"},{"id":"59e49da1.04aa84","type":"function","z":"24ab74af.68300c","name":"HDC Temp (C)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Temp (C)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["207d78af.52d7c8"]]},{"id":"207d78af.52d7c8","type":"ui_chart","z":"24ab74af.68300c","name":"Temperature","group":"e4c16ae6.aad898","order":0,"width":"9","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":380,"wires":[[]]},{"id":"df8817aa.6fbb68","type":"function","z":"24ab74af.68300c","name":"Light (lux)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Light (lux)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["1c97903b.d4227"]]},{"id":"1c97903b.d4227","type":"ui_chart","z":"24ab74af.68300c","name":"Light","group":"e4c16ae6.aad898","order":0,"width":"9","height":"5","label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":460,"wires":[[]]},{"id":"d9ca867a.05b478","type":"ui_chart","z":"24ab74af.68300c","name":"Temperature in Sydney","group":"e4c16ae6.aad898","order":0,"width":"9","height":"5","label":"Temperature in Sydney","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":560,"wires":[[]]},{"id":"2f0a7b7e.2f24a4","type":"function","z":"24ab74af.68300c","name":"HDC Temp (C)","func":"var msg1 = msg;\nmsg1.payload = msg.payload[\"tempc\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":460,"y":560,"wires":[["d9ca867a.05b478"]]},{"id":"96700f4f.d3c46","type":"openweathermap","z":"24ab74af.68300c","name":"Weather","wtype":"current","lon":"","lat":"","city":"Sydney","country":"Australia","language":"en","x":280,"y":560,"wires":[["2f0a7b7e.2f24a4"]]},{"id":"b4de7d16.f9576","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":"","x":110,"y":560,"wires":[["96700f4f.d3c46"]]},{"id":"cbeff42f.8363e8","type":"ui_led","z":"24ab74af.68300c","group":"f932708f.370c4","order":4,"width":"3","height":"1","label":"Pump ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":370,"y":680,"wires":[]},{"id":"2e0711eb.4cf21e","type":"mqtt in","z":"24ab74af.68300c","name":"PUMP","topic":"iot-2/cmd/pump-1/pump/fmt/json","qos":"0","broker":"b6f6eeab.ba605","x":70,"y":680,"wires":[["b6e00441.6a37e8"]]},{"id":"b6e00441.6a37e8","type":"json","z":"24ab74af.68300c","name":"","property":"payload","action":"","pretty":false,"x":230,"y":680,"wires":[["cbeff42f.8363e8"]]},{"id":"c953abd3.9bbd18","type":"debug","z":"24ab74af.68300c","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":720,"y":140,"wires":[]},{"id":"a68e19d5.409788","type":"inject","z":"24ab74af.68300c","name":"CREATE TABLE SENSOR1","topic":"CREATE TABLE SENSOR1(temperature NUMERIC, humidity NUMERIC, light NUMERIC,waterlevel TEXT, currentdate DATE, currenttime TIME, javatime INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":180,"wires":[["c08d5737.d85338"]]},{"id":"c08d5737.d85338","type":"sqlite","z":"24ab74af.68300c","mydb":"8ec3c4d7.c7d558","sqlquery":"msg.topic","sql":"create table sensor_1 (thetime  Timestamp, thevalue integer)\n","name":"1","x":490,"y":200,"wires":[["57adfe08.836eb"]]},{"id":"8b041c96.50c21","type":"function","z":"24ab74af.68300c","name":"Data_insert","func":"var temp = msg.payload.d[\"HDC Temp (C)\"];\nvar humidity = msg.payload.d[\"HDC Humidity (%RH)\"];\nvar light = msg.payload.d[\"Light (lux)\"];\nvar water = msg.payload.d[\"Level sensor (level)\"];\nvar javatime = Date.now(); \nvar newMsg = \n{\n \"topic\": \"INSERT INTO SENSOR1 (temperature, humidity, light, waterlevel, currentdate, currenttime, javatime) values(\"+temp+\", \"+humidity+\",\"+light+\",\\'\"+water +\"\\', date('now'), time('now'), \"+javatime+\")\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["c08d5737.d85338"]]},{"id":"9493d8a7.95d3c8","type":"inject","z":"24ab74af.68300c","name":"SHOW TABLE SENSOR1","topic":"select * from SENSOR1;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":220,"wires":[["c08d5737.d85338"]]},{"id":"73ef2731.03a928","type":"inject","z":"24ab74af.68300c","name":"DROP TABLE SENSOR1","topic":"DROP TABLE SENSOR1","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":260,"wires":[["c08d5737.d85338"]]},{"id":"86016967.8cc528","type":"inject","z":"24ab74af.68300c","name":"PLOT 24 HOURS FROM SENSOR1","topic":"select * from SENSOR1 LIMIT 43200 OFFSET (SELECT COUNT(*) FROM SENSOR1)-43200;","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":"","x":210,"y":140,"wires":[["64f01a1f.0caf14"]]},{"id":"62e7fd6.3eea204","type":"function","z":"24ab74af.68300c","name":"PLOT maker","func":"//  \n// Create a data variable   \n//  \nvar series = [\"Temperatue\"];  \nvar labels = [\"Data Values\"];  \nvar data = \"[[\";\n \nfor (var i=0; i < msg.payload.length; i++) {  \n   //data += '{ \"x\":\"' + msg.payload[i].currenttime + '\", \"y\":' + msg.payload[i].temperature + '}';\n   data += '{ \"x\":' + msg.payload[i].javatime + ', \"y\":' + msg.payload[i].temperature + '}';  \n   if (i < (msg.payload.length - 1)) {  \n      data += \",\"  \n   } else {  \n       data += \"]]\"  \n   }  \n}\n\n//data = '[[{\"x\": 1, \"y\": 2}, {\"x\": 2, \"y\": 3}, {\"x\": 2, \"y\": 3}]]'\n\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];  \nreturn msg;  ","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["c953abd3.9bbd18","36949240.5c72ae"]]},{"id":"64f01a1f.0caf14","type":"sqlite","z":"24ab74af.68300c","mydb":"8ec3c4d7.c7d558","sqlquery":"msg.topic","sql":"create table sensor_1 (thetime  Timestamp, thevalue integer)\n","name":"1","x":490,"y":140,"wires":[["62e7fd6.3eea204"]]},{"id":"36949240.5c72ae","type":"ui_chart","z":"24ab74af.68300c","name":"Temperature","group":"e4c16ae6.aad898","order":0,"width":"18","height":"6","label":"Temperature during the last 24 hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":60,"wires":[[]]},{"id":"57adfe08.836eb","type":"debug","z":"24ab74af.68300c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":200,"wires":[]},{"id":"d62fcf5e.7a0c2","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test fan","topic":"iot-2/cmd/test/fan/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":660,"y":820,"wires":[]},{"id":"c7b3b0c8.f060b","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":800,"wires":[["d62fcf5e.7a0c2"]]},{"id":"68b34cf2.f5c3e4","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":840,"wires":[["d62fcf5e.7a0c2"]]},{"id":"64c8079b.e06cf8","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test cool","topic":"iot-2/cmd/test/cool/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":660,"y":920,"wires":[]},{"id":"255d3c30.9af9f4","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":900,"wires":[["64c8079b.e06cf8"]]},{"id":"5d085039.dd8e4","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":940,"wires":[["64c8079b.e06cf8"]]},{"id":"48856334.08ae0c","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test heat","topic":"iot-2/cmd/test/heat/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":660,"y":1020,"wires":[]},{"id":"dc28bbf1.374578","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1000,"wires":[["48856334.08ae0c"]]},{"id":"599b839b.1286ec","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1040,"wires":[["48856334.08ae0c"]]},{"id":"7e5d8311.7b58ec","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test light","topic":"iot-2/cmd/test/light/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":660,"y":700,"wires":[]},{"id":"6ff7d99a.720878","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":680,"wires":[["7e5d8311.7b58ec"]]},{"id":"d940a391.fca3","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":720,"wires":[["7e5d8311.7b58ec"]]},{"id":"c01d8489.5ef078","type":"mqtt out","z":"334a7904.fbb0a6","name":"MQTT aircon-1 heat","topic":"iot-2/cmd/aircon-1/heat/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":880,"y":80,"wires":[]},{"id":"875b2c7c.ff40e","type":"mqtt out","z":"334a7904.fbb0a6","name":"MQTT aircon-1 cool","topic":"iot-2/cmd/aircon-1/cool/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":870,"y":140,"wires":[]},{"id":"fa42fc00.9827d","type":"mqtt in","z":"334a7904.fbb0a6","name":"MQTT_input_debugging","topic":"iot-2/evt/plant-1/fmt/json","qos":"2","broker":"b6f6eeab.ba605","x":110,"y":80,"wires":[["f18a378e.d55578"]]},{"id":"f18a378e.d55578","type":"json","z":"334a7904.fbb0a6","name":"","property":"payload","action":"","pretty":false,"x":310,"y":80,"wires":[["2bee44f5.4b757c","9a834f6.409a4b","7e3eafb7.02e46"]]},{"id":"2bee44f5.4b757c","type":"function","z":"334a7904.fbb0a6","name":"fan - output-1 / heat- output-2 / cool - output-3","func":"temp = msg.payload.d[\"HDC Temp (C)\"];\nloop_temp = global.get(\"loop_temp\")\n//if (temp >30) {msg.payload = 1}\n//else {msg.payload = 0}\n//return msg;\nfan = 0;\nheat = 0;\ncool = 0;\n\nif (temp > loop_temp+3 )\n{\n   fan = 1;\n   cool = 1;\n}\nelse if (temp < loop_temp-3 ) \n{\n    heat = 1;\n   cool = 1;\n}\nreturn  [{payload: fan},{payload: heat},{payload: cool}];\n","outputs":3,"noerr":0,"x":570,"y":80,"wires":[["f514b200.fb1a5","6395c44e.54993c"],["c01d8489.5ef078"],["875b2c7c.ff40e","86789436.8bdc88"]]},{"id":"2a1af337.dbf94c","type":"function","z":"245d5f3.56f55a","name":"HDC Temp (C)","func":"msg.payload = {\"d\": {\"HDC Temp (C)\": 31}};\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["a91422ca.881cd","e90275e5.70bf58"]]},{"id":"bd4b03b6.1da99","type":"function","z":"245d5f3.56f55a","name":"HDC Temp (C)","func":"//msg.topic.d = \"HDC Temp (C)\";\n//msg.payload.d = 14;\nmsg.payload = {\"d\": {\"HDC Temp (C)\": 14}};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["a91422ca.881cd"]]},{"id":"f8248b81.59d568","type":"inject","z":"245d5f3.56f55a","name":"14 degrees","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["bd4b03b6.1da99"]]},{"id":"517f1228.cff20c","type":"inject","z":"245d5f3.56f55a","name":"31 degrees","topic":"","payload":"31","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["2a1af337.dbf94c"]]},{"id":"76a306df.c0b2a8","type":"inject","z":"245d5f3.56f55a","name":"22 degrees","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":461,"wires":[["d1cd7bfc.768318"]]},{"id":"d1cd7bfc.768318","type":"function","z":"245d5f3.56f55a","name":"HDC Temp (C)","func":"msg.payload = {\"d\": {\"HDC Temp (C)\": 22}};\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["a91422ca.881cd"]]},{"id":"a91422ca.881cd","type":"mqtt out","z":"245d5f3.56f55a","name":"MQTT test temperature loop","topic":"iot-2/evt/plant-1/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":700,"y":400,"wires":[]},{"id":"e90275e5.70bf58","type":"debug","z":"245d5f3.56f55a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":280,"wires":[]},{"id":"f514b200.fb1a5","type":"mqtt out","z":"334a7904.fbb0a6","name":"MQTT test fan","topic":"iot-2/cmd/test/fan/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":860,"y":20,"wires":[]},{"id":"9a834f6.409a4b","type":"function","z":"334a7904.fbb0a6","name":"Pump control","func":"level = msg.payload.d[\"Level sensor (level)\"];\npumptrigger = global.get(\"pumptrigger\");\nif (level ==\"HIGH\")\n{\n   pump = 0;\n   global.set(\"pumptrigger\",0);\n}\nif (pumptrigger == 1)\n{  \n    pump = 1;\n}\n\nreturn  [{payload: pump}];\n","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["afb47714.013c28"]]},{"id":"afb47714.013c28","type":"mqtt out","z":"334a7904.fbb0a6","name":"MQTT pump","topic":"iot-2/cmd/pump-1/pump/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":850,"y":240,"wires":[]},{"id":"9929984f.faeba8","type":"inject","z":"245d5f3.56f55a","name":"HIGH level","topic":"","payload":"HIGH","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["2cd86256.dea31e"]]},{"id":"30e0e977.030e56","type":"inject","z":"245d5f3.56f55a","name":"LOW level","topic":"","payload":"LOW","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["9a3de63e.960508"]]},{"id":"9a3de63e.960508","type":"function","z":"245d5f3.56f55a","name":"Level","func":"//msg.topic.d = \"HDC Temp (C)\";\n//msg.payload.d = 14;\nmsg.payload = {\"d\": {\"Level sensor (level)\": \"LOW\"}};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":270,"y":600,"wires":[["20535374.08b89c"]]},{"id":"2cd86256.dea31e","type":"function","z":"245d5f3.56f55a","name":"Level","func":"//msg.topic.d = \"HDC Temp (C)\";\n//msg.payload.d = 14;\nmsg.payload = {\"d\": {\"Level sensor (level)\": \"HIGH\"}};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["20535374.08b89c"]]},{"id":"20535374.08b89c","type":"mqtt out","z":"245d5f3.56f55a","name":"MQTT test water Loop","topic":"iot-2/evt/plant-1/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":680,"y":560,"wires":[]},{"id":"86789436.8bdc88","type":"debug","z":"334a7904.fbb0a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":180,"wires":[]},{"id":"d2ab9606.4e8628","type":"ui_text_input","z":"c896df7f.eda8b","name":"","label":"Number of ebb&flow cycles","tooltip":"","group":"f932708f.370c4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"100","topic":"","x":400,"y":260,"wires":[["d6429317.6c3c4"]]},{"id":"d6429317.6c3c4","type":"change","z":"c896df7f.eda8b","name":"","rules":[{"t":"set","p":"cycles","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[["d9a085e0.207a08"]]},{"id":"367223e1.6bb32c","type":"inject","z":"c896df7f.eda8b","name":"Init with empty string","topic":"","payload":"global.get(\"cycles\")","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":260,"wires":[["d2ab9606.4e8628"]]},{"id":"1316ff32.315391","type":"ui_text_input","z":"c896df7f.eda8b","name":"","label":"Operation time (begin)","tooltip":"","group":"f932708f.370c4","order":1,"width":0,"height":0,"passthru":true,"mode":"time","delay":"10","topic":"time","x":380,"y":200,"wires":[["1d57875e.619b39"]]},{"id":"dc89353a.068fa8","type":"inject","z":"c896df7f.eda8b","name":"Init with empty string","topic":"","payload":"global.get(\"time_start\")","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":200,"wires":[["1316ff32.315391"]]},{"id":"7fc18a6e.43e1b4","type":"ui_text_input","z":"c896df7f.eda8b","name":"","label":"Operation time (end)","tooltip":"","group":"f932708f.370c4","order":1,"width":0,"height":0,"passthru":true,"mode":"time","delay":"10","topic":"time","x":380,"y":140,"wires":[["568d444d.080a4c"]]},{"id":"a54337ea.bcbec8","type":"inject","z":"c896df7f.eda8b","name":"Init with empty string","topic":"","payload":"global.get(\"time_end\")","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":140,"wires":[["7fc18a6e.43e1b4"]]},{"id":"1d57875e.619b39","type":"change","z":"c896df7f.eda8b","name":"","rules":[{"t":"set","p":"time_start","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[["d9a085e0.207a08"]]},{"id":"568d444d.080a4c","type":"change","z":"c896df7f.eda8b","name":"","rules":[{"t":"set","p":"time_end","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":140,"wires":[["d9a085e0.207a08"]]},{"id":"d9a085e0.207a08","type":"function","z":"c896df7f.eda8b","name":"Timetable calculator","func":"var diff = (flow.get('time_end'))-(flow.get('time_start'))\nvar cycles = Number(flow.get('cycles'))\nvar time_start = flow.get('time_start')\nvar day_temp = flow.get('dayt')\nvar night_temp = flow.get('night')\nvar light_on = flow.get('light_on')\nvar light_off = flow.get('light_off')\nmsg.payload = []\nvar time_end = flow.get('time_end')\nvar timetable = 0 //an array with the times when the pump is switched on\n//var pumptrigger = 0 //flag that pump is on\nvar timenow = (Date.now()); //java time now\nif (diff === 0)\n{ diff = 24*3600*1000 }\nif (diff < 0)\n{diff = Math.abs(diff)+12*3600*1000 }\nglobal.set(\"time_start\", time_start) // to store a variable\nglobal.set(\"time_end\", time_end) // to store a variable\nglobal.set(\"cycles\",cycles) // to store a variable\nglobal.set(\"night_temp\", night_temp) // to store a variable\nglobal.set(\"day_temp\", day_temp) // to store a variable\nglobal.set(\"light_on\", light_on) // to store a variable\nglobal.set(\"light_off\", light_off) // to store a variable\n\nfor (var i=0; i < cycles; i++) {  \n   timetable = Math.round(time_start + (diff/cycles)*i);\n       if (i===0) {global.set (\"timetable1\",Math.round(timetable/1000/60) )}\n   var d = new Date(timetable)\n   timetablestring = d.toLocaleString('en-US',{hour: '2-digit', minute:'2-digit', timeZone: 'Africa/Bissau' });\n    msg.payload.push({\"timetable\":timetablestring, \"cycles\":i+1});\n    if  (Math.round(timenow/1000/60) ==  Math.round(timetable/1000/60)) {\n         //   if ( 10 ==  10) {\n               global.set(\"pumptrigger\", 1) // to store a variable\n               global.set(\"whatishappening\", 1) // to store a variable\n    }\n} \n if ((flow.get('time_end'))-(flow.get('time_start'))<0) { time_end = time_end+3600*12*1000}\n if (timenow > time_start && timenow < time_end ) {\n            global.set(\"loop_temp\", day_temp)}\n            else \n            {global.set(\"loop_temp\", night_temp) \n                            }\n//var msg1 = {\"pump\":pump};\nglobal.set (\"timenow\",Math.round(timenow/1000/60) )\nglobal.set (\"timestart\",Math.round(time_start/1000/60) )\n\nreturn msg\n\n//return {payload:[timetable]};\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":680,"y":80,"wires":[["9cc30a82.5e9248"]]},{"id":"4f9871d9.b7b45","type":"comment","z":"2c5df8b0.5e7398","name":"Sensor input tests: Look at the debug values to confirm the sensors are working properly","info":"","x":360,"y":80,"wires":[]},{"id":"da632093.77faa","type":"comment","z":"2c5df8b0.5e7398","name":"Sensor output tests: Press the buttons and confirm that the outputs change accordingly","info":"","x":360,"y":480,"wires":[]},{"id":"d81f3bb4.39b628","type":"exec","z":"245d5f3.56f55a","command":"service 6lbr stop && service 6lbr status","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"6lbr service stop","x":300,"y":140,"wires":[["1c634f9c.35efc"],[],[]]},{"id":"9d53543.f46eba8","type":"inject","z":"245d5f3.56f55a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":140,"wires":[["d81f3bb4.39b628"]]},{"id":"1c634f9c.35efc","type":"debug","z":"245d5f3.56f55a","name":"","active":false,"tosidebar":true,"console":true,"complete":"payload","x":500,"y":120,"wires":[]},{"id":"64e490e3.40dd3","type":"comment","z":"245d5f3.56f55a","name":"Stop the 6lbr service so sensor input is no longer received","info":"","x":250,"y":60,"wires":[]},{"id":"719df1b5.21314","type":"inject","z":"c896df7f.eda8b","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["d9a085e0.207a08","5e8c4f05.f9188"]]},{"id":"9cc30a82.5e9248","type":"ui_table","z":"c896df7f.eda8b","group":"f932708f.370c4","name":"Timetable","order":4,"width":"4","height":"4","columns":[{"field":"Cycle","title":"Cycle","width":"40%","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"timetable","title":"Timetable","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1240,"y":100,"wires":[]},{"id":"6395c44e.54993c","type":"debug","z":"334a7904.fbb0a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":160,"wires":[]},{"id":"1eb91f3e.6f0291","type":"function","z":"245d5f3.56f55a","name":"Pump trigger","func":"pumptrigger = 1;\nglobal.set(\"pumptrigger\", pumptrigger) // to store a variable\n\n","outputs":1,"noerr":0,"x":350,"y":680,"wires":[["f5900b6c.37f7b8"]]},{"id":"1bf88153.6c6bef","type":"inject","z":"245d5f3.56f55a","name":"PUMP TIME","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["1eb91f3e.6f0291"]]},{"id":"f5900b6c.37f7b8","type":"debug","z":"245d5f3.56f55a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":680,"wires":[]},{"id":"c7d45998.aaabd8","type":"comment","z":"24ab74af.68300c","name":"Storage of the sensors data","info":"","x":160,"y":60,"wires":[]},{"id":"b2a96dd0.a062","type":"comment","z":"24ab74af.68300c","name":"Plot the sensors data","info":"","x":140,"y":320,"wires":[]},{"id":"c7af4b7e.fdfa38","type":"comment","z":"24ab74af.68300c","name":"Sydney weather","info":"","x":120,"y":480,"wires":[]},{"id":"e5b842c5.d4c6c","type":"comment","z":"24ab74af.68300c","name":"Pump status","info":"","x":90,"y":620,"wires":[]},{"id":"7c966fc8.dfc1","type":"inject","z":"c896df7f.eda8b","name":"Init with empty string","topic":"","payload":"global.get(\"day_temp\")","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":320,"wires":[["f0f82d0e.a6e12"]]},{"id":"f0f82d0e.a6e12","type":"ui_text_input","z":"c896df7f.eda8b","name":"","label":"Day temperature","tooltip":"","group":"f932708f.370c4","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":370,"y":320,"wires":[["ed17506.70121b"]]},{"id":"ed17506.70121b","type":"change","z":"c896df7f.eda8b","name":"","rules":[{"t":"set","p":"dayt","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":320,"wires":[["d9a085e0.207a08"]]},{"id":"7a95b8ab.b3be08","type":"change","z":"c896df7f.eda8b","name":"","rules":[{"t":"set","p":"night","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[["d9a085e0.207a08"]]},{"id":"eabdcfad.85bd1","type":"ui_text_input","z":"c896df7f.eda8b","name":"","label":"Night temperature","tooltip":"","group":"f932708f.370c4","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":370,"y":380,"wires":[["7a95b8ab.b3be08"]]},{"id":"ab829877.a9cc18","type":"inject","z":"c896df7f.eda8b","name":"Init with empty string","topic":"","payload":"global.get(\"night_temp\")","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":380,"wires":[["eabdcfad.85bd1"]]},{"id":"b42d8b98.44d648","type":"inject","z":"c896df7f.eda8b","name":"Init with empty string","topic":"","payload":"global.get(\"light_on\")","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":440,"wires":[["2cf8a2c.1bc385e"]]},{"id":"2cf8a2c.1bc385e","type":"ui_text_input","z":"c896df7f.eda8b","name":"","label":"Light On","tooltip":"","group":"f932708f.370c4","order":1,"width":0,"height":0,"passthru":true,"mode":"time","delay":"100","topic":"","x":340,"y":440,"wires":[["eff590b2.3f9f6"]]},{"id":"eff590b2.3f9f6","type":"change","z":"c896df7f.eda8b","name":"","rules":[{"t":"set","p":"light_on","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["d9a085e0.207a08"]]},{"id":"fcd85223.c7a3e","type":"change","z":"c896df7f.eda8b","name":"","rules":[{"t":"set","p":"light_off","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["d9a085e0.207a08"]]},{"id":"9bb5fb11.94aa58","type":"ui_text_input","z":"c896df7f.eda8b","name":"","label":"Light Off","tooltip":"","group":"f932708f.370c4","order":1,"width":0,"height":0,"passthru":true,"mode":"time","delay":"100","topic":"","x":460,"y":500,"wires":[["fcd85223.c7a3e"]]},{"id":"c709c341.01aa","type":"inject","z":"c896df7f.eda8b","name":"Init with empty string","topic":"","payload":"global.get(\"light_off\")","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":500,"wires":[[]]},{"id":"7e3eafb7.02e46","type":"function","z":"334a7904.fbb0a6","name":"Light control","func":"var light_on = global.get(\"light_on\");\nvar light_off = global.get(\"light_off\");\nvar light = 0\nvar timenow = (Date.now());\n\nglobal.set(\"debug_timenow\", timenow);\nglobal.set(\"debug_time_light_on\", light_on);\nglobal.set(\"debug_time_light_off\", light_off);\n\nreturn {payload: light};\n","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["96f811ab.6bf4b"]]},{"id":"96f811ab.6bf4b","type":"mqtt out","z":"334a7904.fbb0a6","name":"MQTT light","topic":"iot-2/cmd/light-1/light/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":850,"y":340,"wires":[]},{"id":"c9b0fe5f.86166","type":"ui_led","z":"24ab74af.68300c","group":"f932708f.370c4","order":4,"width":"3","height":"1","label":"Light","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":370,"y":760,"wires":[]},{"id":"56b66060.2de93","type":"mqtt in","z":"24ab74af.68300c","name":"Light","topic":"iot-2/cmd/light-1/light/fmt/json","qos":"0","broker":"b6f6eeab.ba605","x":70,"y":760,"wires":[["ac451466.db46c8"]]},{"id":"ac451466.db46c8","type":"json","z":"24ab74af.68300c","name":"","property":"payload","action":"","pretty":false,"x":230,"y":760,"wires":[["c9b0fe5f.86166"]]},{"id":"5e8c4f05.f9188","type":"debug","z":"c896df7f.eda8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":20,"wires":[]}]