flows_raspberrypi.json
[{"id":"2c5df8b0.5e7398","type":"tab","label":"MQTT Test","disabled":true,"info":""},{"id":"245d5f3.56f55a","type":"tab","label":"Control Loop Test","disabled":true,"info":""},{"id":"24ab74af.68300c","type":"tab","label":"GUI","disabled":false,"info":""},{"id":"334a7904.fbb0a6","type":"tab","label":"Control loop","disabled":false,"info":""},{"id":"5255e862.3159e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#3cc9ff","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#3cc9ff","edited":true},"page-titlebar-backgroundColor":{"value":"#3cc9ff","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#88deff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#3cc9ff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"55fe1b24.d199a4","type":"ui_group","z":"","name":"Home office","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"21024b5f.be3254","type":"ui_spacer","name":"spacer","group":"55fe1b24.d199a4","order":3,"width":1,"height":1},{"id":"b6f6eeab.ba605","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"37014467.ec608c","type":"ui_tab","z":"","name":"GUI","icon":"fa-rub","disabled":false,"hidden":false},{"id":"e4c16ae6.aad898","type":"ui_group","z":"","name":"                                      Farmer's dashboard","tab":"37014467.ec608c","order":1,"disp":true,"width":"20","collapse":false},{"id":"8ec3c4d7.c7d558","type":"sqlitedb","z":"","db":"plant-1.db","mode":"RWC"},{"id":"f932708f.370c4","type":"ui_group","z":"","name":"Ebb & flow control","tab":"37014467.ec608c","order":2,"disp":true,"width":"4","collapse":false},{"id":"bf1fc578.2906a8","type":"ui_group","z":"","name":"Climate control","tab":"37014467.ec608c","order":3,"disp":true,"width":"4","collapse":false},{"id":"1efb64da.70fc3b","type":"ui_group","z":"","name":"Light control","tab":"37014467.ec608c","order":4,"disp":true,"width":"4","collapse":false},{"id":"51e54283.efb18c","type":"ui_spacer","name":"spacer","group":"1efb64da.70fc3b","order":3,"width":1,"height":1},{"id":"f36a2d01.590a5","type":"mqtt in","z":"2c5df8b0.5e7398","name":"MQTT test","topic":"iot-2/evt/test/fmt/json","qos":"2","broker":"b6f6eeab.ba605","x":120,"y":160,"wires":[["3cb9c7c.bcc4b38"]]},{"id":"3cb9c7c.bcc4b38","type":"json","z":"2c5df8b0.5e7398","name":"","property":"payload","action":"","pretty":false,"x":370,"y":160,"wires":[["ddcac835.1920c8","17881c5f.178814","ba32a771.fa7638","f9126030.c69fa"]]},{"id":"ddcac835.1920c8","type":"function","z":"2c5df8b0.5e7398","name":"Level sensor (level)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Level sensor (level)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["cbf34da4.bba2d"]]},{"id":"cbf34da4.bba2d","type":"debug","z":"2c5df8b0.5e7398","name":"Level sensor (discrete)","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":830,"y":160,"wires":[]},{"id":"17881c5f.178814","type":"function","z":"2c5df8b0.5e7398","name":"HDC Humidity (%RH)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Humidity (%RH)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["bc6522a3.7d2e8"]]},{"id":"ba32a771.fa7638","type":"function","z":"2c5df8b0.5e7398","name":"HDC Temp (C)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Temp (C)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["e9c53aae.1a9558"]]},{"id":"bc6522a3.7d2e8","type":"debug","z":"2c5df8b0.5e7398","name":"Humidity","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":790,"y":220,"wires":[]},{"id":"e9c53aae.1a9558","type":"debug","z":"2c5df8b0.5e7398","name":"Temperature","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":800,"y":280,"wires":[]},{"id":"f9126030.c69fa","type":"function","z":"2c5df8b0.5e7398","name":"Light (lux)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Light (lux)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["a4722848.b98d18"]]},{"id":"a4722848.b98d18","type":"debug","z":"2c5df8b0.5e7398","name":"Light level (lux)","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":810,"y":340,"wires":[]},{"id":"b12e6b5f.211ad8","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test pump","topic":"iot-2/cmd/test/pump/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":670,"y":580,"wires":[]},{"id":"212c5388.84260c","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":560,"wires":[["b12e6b5f.211ad8"]]},{"id":"ca55f7f3.3a9648","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":600,"wires":[["b12e6b5f.211ad8"]]},{"id":"292d3215.51ebfe","type":"mqtt in","z":"24ab74af.68300c","name":"Plant-1","topic":"iot-2/evt/plant-1/fmt/json","qos":"2","broker":"b6f6eeab.ba605","x":110,"y":480,"wires":[["a760f317.6224e"]]},{"id":"a760f317.6224e","type":"json","z":"24ab74af.68300c","name":"","property":"payload","action":"","pretty":false,"x":250,"y":480,"wires":[["a76beac6.660538","59e49da1.04aa84","df8817aa.6fbb68","8b041c96.50c21"]]},{"id":"a76beac6.660538","type":"function","z":"24ab74af.68300c","name":"HDC Humidity (%RH)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Humidity (%RH)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":480,"y":500,"wires":[["2ea0741a.f059ac"]]},{"id":"2ea0741a.f059ac","type":"ui_chart","z":"24ab74af.68300c","name":"Humidity","group":"e4c16ae6.aad898","order":0,"width":"10","height":"5","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":500,"wires":[[]],"icon":"node-red/trigger.png"},{"id":"59e49da1.04aa84","type":"function","z":"24ab74af.68300c","name":"HDC Temp (C)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"HDC Temp (C)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":460,"y":460,"wires":[["207d78af.52d7c8"]]},{"id":"207d78af.52d7c8","type":"ui_chart","z":"24ab74af.68300c","name":"Temperature","group":"e4c16ae6.aad898","order":0,"width":"10","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":460,"wires":[[]]},{"id":"df8817aa.6fbb68","type":"function","z":"24ab74af.68300c","name":"Light (lux)","func":"var msg1 = msg;\nmsg1.payload = msg.payload.d[\"Light (lux)\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["1c97903b.d4227"]]},{"id":"1c97903b.d4227","type":"ui_chart","z":"24ab74af.68300c","name":"Light","group":"e4c16ae6.aad898","order":0,"width":"9","height":"5","label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":540,"wires":[[]]},{"id":"d9ca867a.05b478","type":"ui_chart","z":"24ab74af.68300c","name":"Temperature in Sydney","group":"e4c16ae6.aad898","order":0,"width":"10","height":"5","label":"Temperature in Sydney","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":700,"wires":[[]]},{"id":"2f0a7b7e.2f24a4","type":"function","z":"24ab74af.68300c","name":"tempc","func":"var msg1 = msg;\nmsg1.payload = msg.payload[\"tempc\"];\nreturn msg1;\n","outputs":1,"noerr":0,"x":510,"y":700,"wires":[["d9ca867a.05b478"]]},{"id":"96700f4f.d3c46","type":"openweathermap","z":"24ab74af.68300c","name":"Weather","wtype":"current","lon":"","lat":"","city":"Sydney","country":"Australia","language":"en","x":320,"y":700,"wires":[["2f0a7b7e.2f24a4"]]},{"id":"b4de7d16.f9576","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":"","x":130,"y":700,"wires":[["96700f4f.d3c46"]]},{"id":"cbeff42f.8363e8","type":"ui_led","z":"24ab74af.68300c","group":"f932708f.370c4","order":5,"width":"0","height":"0","label":"Pump ","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Pump","x":1190,"y":1100,"wires":[]},{"id":"2e0711eb.4cf21e","type":"mqtt in","z":"24ab74af.68300c","name":"Pump","topic":"iot-2/cmd/pump-1/pump/fmt/json","qos":"0","broker":"b6f6eeab.ba605","x":110,"y":1100,"wires":[["b6e00441.6a37e8"]]},{"id":"b6e00441.6a37e8","type":"json","z":"24ab74af.68300c","name":"","property":"payload","action":"","pretty":false,"x":670,"y":1100,"wires":[["cbeff42f.8363e8"]]},{"id":"c953abd3.9bbd18","type":"debug","z":"24ab74af.68300c","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1100,"y":160,"wires":[]},{"id":"a68e19d5.409788","type":"inject","z":"24ab74af.68300c","name":"CREATE TABLE SENSOR1","topic":"CREATE TABLE SENSOR1(temperature NUMERIC, humidity NUMERIC, light NUMERIC,waterlevel TEXT, currentdate DATE, currenttime TIME, javatime INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":240,"wires":[["c08d5737.d85338"]]},{"id":"c08d5737.d85338","type":"sqlite","z":"24ab74af.68300c","mydb":"8ec3c4d7.c7d558","sqlquery":"msg.topic","sql":"create table sensor_1 (thetime  Timestamp, thevalue integer)\n","name":"plant-1","x":630,"y":300,"wires":[["57adfe08.836eb"]]},{"id":"8b041c96.50c21","type":"function","z":"24ab74af.68300c","name":"SQL INSERT","func":"var temp = msg.payload.d[\"HDC Temp (C)\"];\nvar humidity = msg.payload.d[\"HDC Humidity (%RH)\"];\nvar light = msg.payload.d[\"Light (lux)\"];\nvar water = msg.payload.d[\"Level sensor (level)\"];\nvar javatime = Date.now(); \nvar newMsg = \n{\n \"topic\": \"INSERT INTO SENSOR1 (temperature, humidity, light, waterlevel, currentdate, currenttime, javatime) values(\"+temp+\", \"+humidity+\",\"+light+\",\\'\"+water +\"\\', date('now'), time('now'), \"+javatime+\")\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["c08d5737.d85338"]]},{"id":"9493d8a7.95d3c8","type":"inject","z":"24ab74af.68300c","name":"SHOW TABLE SENSOR1","topic":"select * from SENSOR1;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":280,"wires":[["c08d5737.d85338"]]},{"id":"73ef2731.03a928","type":"inject","z":"24ab74af.68300c","name":"DROP TABLE SENSOR1","topic":"DROP TABLE SENSOR1","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":320,"wires":[["c08d5737.d85338"]]},{"id":"86016967.8cc528","type":"inject","z":"24ab74af.68300c","name":"PLOT 24 HOURS FROM SENSOR1","topic":"select * from SENSOR1 LIMIT 43200 OFFSET (SELECT COUNT(*) FROM SENSOR1)-43200;","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":"","x":210,"y":120,"wires":[["64f01a1f.0caf14"]]},{"id":"62e7fd6.3eea204","type":"function","z":"24ab74af.68300c","name":"PLOT maker","func":"//  \n// Create a data variable   \n//  \nvar series = [\"Temperatue\"];  \nvar labels = [\"Data Values\"];  \nvar data = \"[[\";\n \nfor (var i=0; i < msg.payload.length; i++) {  \n   //data += '{ \"x\":\"' + msg.payload[i].currenttime + '\", \"y\":' + msg.payload[i].temperature + '}';\n   data += '{ \"x\":' + msg.payload[i].javatime + ', \"y\":' + msg.payload[i].temperature + '}';  \n   if (i < (msg.payload.length - 1)) {  \n      data += \",\"  \n   } else {  \n       data += \"]]\"  \n   }  \n}\n\n//data = '[[{\"x\": 1, \"y\": 2}, {\"x\": 2, \"y\": 3}, {\"x\": 2, \"y\": 3}]]'\n\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];  \nreturn msg;  ","outputs":1,"noerr":0,"x":850,"y":120,"wires":[["c953abd3.9bbd18","36949240.5c72ae"]]},{"id":"64f01a1f.0caf14","type":"sqlite","z":"24ab74af.68300c","mydb":"8ec3c4d7.c7d558","sqlquery":"msg.topic","sql":"create table sensor_1 (thetime  Timestamp, thevalue integer)\n","name":"plant-1","x":630,"y":120,"wires":[["62e7fd6.3eea204"]]},{"id":"36949240.5c72ae","type":"ui_chart","z":"24ab74af.68300c","name":"Temperature","group":"e4c16ae6.aad898","order":0,"width":"18","height":"6","label":"Temperature during the last 24 hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":120,"wires":[[]]},{"id":"57adfe08.836eb","type":"debug","z":"24ab74af.68300c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":300,"wires":[]},{"id":"d62fcf5e.7a0c2","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test fan","topic":"iot-2/cmd/test/fan/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":660,"y":820,"wires":[]},{"id":"c7b3b0c8.f060b","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":800,"wires":[["d62fcf5e.7a0c2"]]},{"id":"68b34cf2.f5c3e4","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":840,"wires":[["d62fcf5e.7a0c2"]]},{"id":"64c8079b.e06cf8","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test cool","topic":"iot-2/cmd/test/cool/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":660,"y":920,"wires":[]},{"id":"255d3c30.9af9f4","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":900,"wires":[["64c8079b.e06cf8"]]},{"id":"5d085039.dd8e4","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":940,"wires":[["64c8079b.e06cf8"]]},{"id":"48856334.08ae0c","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test heat","topic":"iot-2/cmd/test/heat/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":660,"y":1020,"wires":[]},{"id":"dc28bbf1.374578","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1000,"wires":[["48856334.08ae0c"]]},{"id":"599b839b.1286ec","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1040,"wires":[["48856334.08ae0c"]]},{"id":"7e5d8311.7b58ec","type":"mqtt out","z":"2c5df8b0.5e7398","name":"MQTT test light","topic":"iot-2/cmd/test/light/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":660,"y":700,"wires":[]},{"id":"6ff7d99a.720878","type":"inject","z":"2c5df8b0.5e7398","name":"Switch on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":680,"wires":[["7e5d8311.7b58ec"]]},{"id":"d940a391.fca3","type":"inject","z":"2c5df8b0.5e7398","name":"Switch off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":720,"wires":[["7e5d8311.7b58ec"]]},{"id":"c01d8489.5ef078","type":"mqtt out","z":"334a7904.fbb0a6","name":"Heat","topic":"iot-2/cmd/aircon-1/heat/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":870,"y":140,"wires":[]},{"id":"875b2c7c.ff40e","type":"mqtt out","z":"334a7904.fbb0a6","name":"Cool","topic":"iot-2/cmd/aircon-1/cool/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":870,"y":200,"wires":[]},{"id":"fa42fc00.9827d","type":"mqtt in","z":"334a7904.fbb0a6","name":"Plant-1","topic":"iot-2/evt/plant-1/fmt/json","qos":"2","broker":"b6f6eeab.ba605","x":90,"y":140,"wires":[["f18a378e.d55578"]]},{"id":"f18a378e.d55578","type":"json","z":"334a7904.fbb0a6","name":"","property":"payload","action":"","pretty":false,"x":250,"y":140,"wires":[["2bee44f5.4b757c","9a834f6.409a4b"]]},{"id":"2bee44f5.4b757c","type":"function","z":"334a7904.fbb0a6","name":"fan - output-1 / heat- output-2 / cool - output-3","func":"var setpoint = 0\nvar fan = 0;\nvar heat = 0;\nvar cool = 0;\nvar temperature = msg.payload.d['HDC Temp (C)'];\nvar time_start = new Date(Date.now())\nvar time_end = new Date(Date.now())\nvar time_now = new Date(Date.now())\n\ntime_start.setHours(global.get('temperature_start_day_time') / 60)\ntime_start.setMinutes(global.get('temperature_start_day_time') % 60)\ntime_start.setSeconds(0)\n\ntime_end.setHours(global.get('temperature_end_day_time') / 60)\ntime_end.setMinutes(global.get('temperature_end_day_time') % 60)\ntime_end.setSeconds(0)\n\n// Add an extra day if the end time is before the start time\nif (time_end < time_start)\n{\n    time_end.setTime(time_end.getTime() + 3600 * 24 * 1000)\n}\n\nif ((time_now > time_start) &&  (time_now < time_end))\n{\n    setpoint = global.get('temperature_day')\n}\nelse\n{\n    setpoint = global.get('temperature_night')\n}\n\nflow.set('debug_aircon_setpoint', setpoint)\n\nif (temperature > (setpoint + 3))\n{\n    cool = 1;\n    fan = 1;\n}\nelse if (temperature < (setpoint - 3))\n{\n    heat = 1;\n    fan = 1;\n}\n\nreturn  [{payload: fan}, {payload: heat}, {payload: cool}];\n","outputs":3,"noerr":0,"x":570,"y":140,"wires":[["f514b200.fb1a5"],["c01d8489.5ef078"],["875b2c7c.ff40e"]]},{"id":"2a1af337.dbf94c","type":"function","z":"245d5f3.56f55a","name":"HDC Temp (C)","func":"msg.payload = {\"d\": {\"HDC Temp (C)\": 31}};\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["a91422ca.881cd"]]},{"id":"bd4b03b6.1da99","type":"function","z":"245d5f3.56f55a","name":"HDC Temp (C)","func":"//msg.topic.d = \"HDC Temp (C)\";\n//msg.payload.d = 14;\nmsg.payload = {\"d\": {\"HDC Temp (C)\": 14}};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["a91422ca.881cd"]]},{"id":"f8248b81.59d568","type":"inject","z":"245d5f3.56f55a","name":"14 degrees","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["bd4b03b6.1da99"]]},{"id":"517f1228.cff20c","type":"inject","z":"245d5f3.56f55a","name":"31 degrees","topic":"","payload":"31","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["2a1af337.dbf94c"]]},{"id":"76a306df.c0b2a8","type":"inject","z":"245d5f3.56f55a","name":"22 degrees","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":221,"wires":[["d1cd7bfc.768318"]]},{"id":"d1cd7bfc.768318","type":"function","z":"245d5f3.56f55a","name":"HDC Temp (C)","func":"msg.payload = {\"d\": {\"HDC Temp (C)\": 22}};\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["a91422ca.881cd"]]},{"id":"a91422ca.881cd","type":"mqtt out","z":"245d5f3.56f55a","name":"plant-1","topic":"iot-2/evt/plant-1/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":570,"y":220,"wires":[]},{"id":"f514b200.fb1a5","type":"mqtt out","z":"334a7904.fbb0a6","name":"Fan","topic":"iot-2/cmd/aircon-1/fan/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":870,"y":80,"wires":[]},{"id":"9a834f6.409a4b","type":"function","z":"334a7904.fbb0a6","name":"Pump control","func":"var level = msg.payload.d[\"Level sensor (level)\"]\nvar pump = flow.get('pump')\n\nif (level == \"HIGH\")\n{\n    pump = 0;\n    flow.set('pump', 0)\n}\nelse\n{  \n    var time_now = new Date(Date.now())\n    var timetable = global.get('ebb_flow_timetable')\n\n    for (var index = 0; index < timetable.length; index++)\n    {  \n        if (Math.round(time_now.getTime() / 1000 / 60) ==  Math.round(timetable[index].getTime() / 1000 / 60))\n        {\n            pump = 1;\n            flow.set('pump', 1)\n        }\n    }\n}\n\nreturn {payload: pump}\n","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["afb47714.013c28"]]},{"id":"afb47714.013c28","type":"mqtt out","z":"334a7904.fbb0a6","name":"Pump","topic":"iot-2/cmd/pump-1/pump/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":870,"y":340,"wires":[]},{"id":"9929984f.faeba8","type":"inject","z":"245d5f3.56f55a","name":"HIGH level","topic":"","payload":"HIGH","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["2cd86256.dea31e"]]},{"id":"30e0e977.030e56","type":"inject","z":"245d5f3.56f55a","name":"LOW level","topic":"","payload":"LOW","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["9a3de63e.960508"]]},{"id":"9a3de63e.960508","type":"function","z":"245d5f3.56f55a","name":"Level","func":"//msg.topic.d = \"HDC Temp (C)\";\n//msg.payload.d = 14;\nmsg.payload = {\"d\": {\"Level sensor (level)\": \"LOW\"}};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["a91422ca.881cd"]]},{"id":"2cd86256.dea31e","type":"function","z":"245d5f3.56f55a","name":"Level","func":"//msg.topic.d = \"HDC Temp (C)\";\n//msg.payload.d = 14;\nmsg.payload = {\"d\": {\"Level sensor (level)\": \"HIGH\"}};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["a91422ca.881cd"]]},{"id":"4f9871d9.b7b45","type":"comment","z":"2c5df8b0.5e7398","name":"Sensor input tests: Look at the debug values to confirm the sensors are working properly","info":"","x":360,"y":80,"wires":[]},{"id":"da632093.77faa","type":"comment","z":"2c5df8b0.5e7398","name":"Sensor output tests: Press the buttons and confirm that the outputs change accordingly","info":"","x":360,"y":480,"wires":[]},{"id":"c7d45998.aaabd8","type":"comment","z":"24ab74af.68300c","name":"Plot stored data","info":"","x":140,"y":60,"wires":[]},{"id":"b2a96dd0.a062","type":"comment","z":"24ab74af.68300c","name":"Plot real time sensors data","info":"","x":170,"y":380,"wires":[]},{"id":"c7af4b7e.fdfa38","type":"comment","z":"24ab74af.68300c","name":"Sydney weather","info":"","x":140,"y":640,"wires":[]},{"id":"e5b842c5.d4c6c","type":"comment","z":"24ab74af.68300c","name":"Ebb & flow control","info":"","x":150,"y":800,"wires":[]},{"id":"7e3eafb7.02e46","type":"function","z":"334a7904.fbb0a6","name":"Light control","func":"var light = 0\nvar time_start = new Date(Date.now())\nvar time_end = new Date(Date.now())\nvar time_now = new Date(Date.now())\n\ntime_start.setHours(global.get(\"light_start_time\") / 60)\ntime_start.setMinutes(global.get(\"light_start_time\") % 60)\ntime_start.setSeconds(0)\n\ntime_end.setHours(global.get(\"light_end_time\") / 60)\ntime_end.setMinutes(global.get(\"light_end_time\") % 60)\ntime_end.setSeconds(0)\n\n// Add an extra day if the end time is before the start time\nif (time_end < time_start)\n{\n    time_end.setTime(time_end.getTime() + 3600 * 24 * 1000)\n}\n\nif ((time_now > time_start) &&  (time_now < time_end))\n{\n    light = 1\n}\n\nreturn {payload: light}\n","outputs":1,"noerr":0,"x":470,"y":540,"wires":[["96f811ab.6bf4b"]]},{"id":"96f811ab.6bf4b","type":"mqtt out","z":"334a7904.fbb0a6","name":"Light","topic":"iot-2/cmd/light-1/light/fmt/json","qos":"0","retain":"","broker":"b6f6eeab.ba605","x":870,"y":540,"wires":[]},{"id":"c9b0fe5f.86166","type":"ui_led","z":"24ab74af.68300c","group":"1efb64da.70fc3b","order":4,"width":"4","height":"1","label":"Light","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"Light","x":1190,"y":1820,"wires":[]},{"id":"56b66060.2de93","type":"mqtt in","z":"24ab74af.68300c","name":"Light","topic":"iot-2/cmd/light-1/light/fmt/json","qos":"0","broker":"b6f6eeab.ba605","x":110,"y":1820,"wires":[["ac451466.db46c8"]]},{"id":"ac451466.db46c8","type":"json","z":"24ab74af.68300c","name":"","property":"payload","action":"","pretty":false,"x":670,"y":1820,"wires":[["c9b0fe5f.86166"]]},{"id":"d745e045.79d09","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"Number of cycles","tooltip":"","group":"f932708f.370c4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"100","topic":"","x":710,"y":1040,"wires":[["eaf08d49.738e2"]]},{"id":"eaf08d49.738e2","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"ebb_flow_cycle_count","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1040,"wires":[["52bc99a.511b068"]]},{"id":"adcc6d21.44712","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"ebb_flow_cycle_count","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":1040,"wires":[["d745e045.79d09"]]},{"id":"d4abe394.b1bec","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"Start time","tooltip":"","group":"f932708f.370c4","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":"10","topic":"","x":680,"y":920,"wires":[["762fdf56.3643"]]},{"id":"f6d35a16.0045e8","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"ebb_flow_start_time","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":920,"wires":[["981506d4.4a93e8"]]},{"id":"2b145a13.aed0c6","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"End time","tooltip":"","group":"f932708f.370c4","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":"10","topic":"","x":680,"y":980,"wires":[["bf41531b.44f6"]]},{"id":"d9d96008.62446","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"ebb_flow_end_time","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":980,"wires":[["44ec8e9c.d4fc1"]]},{"id":"2b0341b4.7102ae","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"ebb_flow_start_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":920,"wires":[["52bc99a.511b068"]]},{"id":"1b64be7.d670242","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"ebb_flow_end_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":980,"wires":[["52bc99a.511b068"]]},{"id":"dd8d1ae1.cb90d8","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"light_start_time","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1700,"wires":[["9a2ef2d0.303ea"]]},{"id":"35e6c7e7.054b68","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"Light start time","tooltip":"","group":"1efb64da.70fc3b","order":1,"width":0,"height":0,"passthru":true,"mode":"time","delay":"100","topic":"","x":700,"y":1700,"wires":[["da063d3e.46a28"]]},{"id":"1ebda9ee.8d43f6","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"light_start_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1700,"wires":[[]]},{"id":"b3d37f31.5c35a","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"light_end_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1760,"wires":[[]]},{"id":"bde63a21.538e88","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"Light end time","tooltip":"","group":"1efb64da.70fc3b","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":"100","topic":"","x":700,"y":1760,"wires":[["94b914a7.ccb8e8"]]},{"id":"7eb2b2e1.912ecc","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"light_end_time","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1760,"wires":[["d27fe4d0.6d99d8"]]},{"id":"6429f4e3.4c73fc","type":"comment","z":"24ab74af.68300c","name":"Storage of the sensors data","info":"","x":180,"y":180,"wires":[]},{"id":"aa7c1d85.6df17","type":"comment","z":"24ab74af.68300c","name":"Light control","info":"","x":130,"y":1640,"wires":[]},{"id":"52bc99a.511b068","type":"function","z":"24ab74af.68300c","name":"Timetable calculator","func":"var time_diff\nvar timetable = []\nvar timetable_output = []\nvar cycle_count = global.get('ebb_flow_cycle_count')\nvar time_start = new Date(Date.now())\nvar time_end = new Date(Date.now())\n\ntime_start.setHours(global.get(\"ebb_flow_start_time\") / 60)\ntime_start.setMinutes(global.get(\"ebb_flow_start_time\") % 60)\ntime_start.setSeconds(0)\n\ntime_end.setHours(global.get(\"ebb_flow_end_time\") / 60)\ntime_end.setMinutes(global.get(\"ebb_flow_end_time\") % 60)\ntime_end.setSeconds(0)\n\ntime_diff = time_end - time_start\n\nif (time_diff === 0)\n{\n    // Same times indicates 24 hour period\n    time_diff = 24 * 3600 * 1000\n} \nelse if (time_diff < 0)\n{\n    // Negative time means we have continued into the next day\n    time_diff = Math.abs(time_diff) + 12 * 3600 * 1000\n}\n\nfor (var index = 0; index < cycle_count; index++)\n{  \n    var timetable_entry = new Date()\n\n    timetable_entry.setTime(time_start.getTime() + (time_diff / (cycle_count - 1)) * index)\n    timetable.push(timetable_entry)\n//    timetable.push((time_diff / (cycle_count - 1)) * index)\n\n    timetable_string = timetable_entry.toLocaleString('en-US',{hour: '2-digit', minute:'2-digit'});\n\n    timetable_output.push({\"timetable\" : timetable_string, \"cycles\" : index + 1})\n}\n\nglobal.set('ebb_flow_timetable', timetable)\n\nreturn {payload: timetable_output}\n","outputs":1,"noerr":0,"x":1620,"y":860,"wires":[["262e9029.fc00c"]]},{"id":"262e9029.fc00c","type":"ui_table","z":"24ab74af.68300c","group":"f932708f.370c4","name":"Timetable","order":4,"width":"4","height":"4","columns":[{"field":"Cycle","title":"Cycle","width":"40%","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"timetable","title":"Timetable","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1880,"y":860,"wires":[]},{"id":"f000c30d.488cb","type":"inject","z":"24ab74af.68300c","name":"","topic":"timestamp","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":860,"wires":[["52bc99a.511b068"]]},{"id":"650045a.c3e69bc","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"temperature_day","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1380,"wires":[["e6d057c2.8566b8"]]},{"id":"e6d057c2.8566b8","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"Day temperature","tooltip":"","group":"bf1fc578.2906a8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":710,"y":1380,"wires":[["410b9143.d659b"]]},{"id":"410b9143.d659b","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"temperature_day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1380,"wires":[[]]},{"id":"49e1147.866a5ec","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"temperature_night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1440,"wires":[[]]},{"id":"b62fe5e7.be5e68","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"Night temperature","tooltip":"","group":"bf1fc578.2906a8","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":710,"y":1440,"wires":[["49e1147.866a5ec"]]},{"id":"1b762754.739ed9","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"temperature_night","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1440,"wires":[["b62fe5e7.be5e68"]]},{"id":"ea639c40.a294d","type":"comment","z":"24ab74af.68300c","name":"Climate control","info":"","x":140,"y":1200,"wires":[]},{"id":"4bfb2e2d.9efcf","type":"mqtt in","z":"24ab74af.68300c","name":"Heat","topic":"iot-2/cmd/aircon-1/heat/fmt/json","qos":"0","broker":"b6f6eeab.ba605","x":110,"y":1500,"wires":[["c3f63d63.32ded"]]},{"id":"a6fd0695.8c4de8","type":"mqtt in","z":"24ab74af.68300c","name":"Cool","topic":"iot-2/cmd/aircon-1/cool/fmt/json","qos":"0","broker":"b6f6eeab.ba605","x":110,"y":1560,"wires":[["c3f63d63.32ded"]]},{"id":"c3f63d63.32ded","type":"function","z":"24ab74af.68300c","name":"Aircon status","func":"var status = flow.get('aircon_status')\n\nif (msg.topic == 'iot-2/cmd/aircon-1/heat/fmt/json')\n{\n    if (msg.payload == '1')   \n    {   \n        status = 'heat'\n        flow.set('aircon_status', 'heat')\n    }\n    else\n    {\n        flow.set('aircon_status', '')\n    }\n}\nelse if (msg.topic == 'iot-2/cmd/aircon-1/cool/fmt/json')\n{\n    if (msg.payload == '1')\n    {\n        status = 'cool'\n        flow.set('aircon_status', 'heat')\n    }\n    else\n    {\n        flow.set('aircon_status', '')\n    }\n}\n\nreturn {payload: status};","outputs":1,"noerr":0,"x":690,"y":1500,"wires":[["5b94e037.8b5eb"]]},{"id":"5b94e037.8b5eb","type":"ui_led","z":"24ab74af.68300c","group":"bf1fc578.2906a8","order":4,"width":"0","height":"0","label":"Active","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"blue","value":"cool","valueType":"str"},{"color":"red","value":"heat","valueType":"str"}],"allowColorForValueInMessage":false,"name":"Active","x":1190,"y":1500,"wires":[]},{"id":"c6318b37.443598","type":"inject","z":"334a7904.fbb0a6","name":"","topic":"timestamp","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":540,"wires":[["7e3eafb7.02e46"]]},{"id":"2956af6b.42341","type":"change","z":"334a7904.fbb0a6","name":"Init flow pump","rules":[{"t":"set","p":"pump","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[[]]},{"id":"470948f0.6919c8","type":"inject","z":"334a7904.fbb0a6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":400,"wires":[["2956af6b.42341"]]},{"id":"da063d3e.46a28","type":"function","z":"24ab74af.68300c","name":"Time in minutes","func":"var date = new Date(msg.payload)\nmsg.payload = date.getHours() * 60 + date.getMinutes()\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1700,"wires":[["1ebda9ee.8d43f6"]]},{"id":"9a2ef2d0.303ea","type":"function","z":"24ab74af.68300c","name":"Time in Date","func":"var date = new Date(1970, 1, 1, Math.round(msg.payload / 60), msg.payload % 60)\nmsg.payload = date\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1700,"wires":[["35e6c7e7.054b68"]]},{"id":"d27fe4d0.6d99d8","type":"function","z":"24ab74af.68300c","name":"Time in Date","func":"var date = new Date(1970, 1, 1, Math.round(msg.payload / 60), msg.payload % 60)\nmsg.payload = date\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1760,"wires":[["bde63a21.538e88"]]},{"id":"94b914a7.ccb8e8","type":"function","z":"24ab74af.68300c","name":"Time in minutes","func":"var date = new Date(msg.payload)\nmsg.payload = date.getHours() * 60 + date.getMinutes()\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1760,"wires":[["b3d37f31.5c35a"]]},{"id":"a8b95bb2.19ddc8","type":"comment","z":"334a7904.fbb0a6","name":"Temperature control","info":"","x":130,"y":60,"wires":[]},{"id":"693f2493.35f59c","type":"comment","z":"334a7904.fbb0a6","name":"Pump control","info":"","x":110,"y":280,"wires":[]},{"id":"89455489.0edb18","type":"comment","z":"334a7904.fbb0a6","name":"Light control","info":"","x":110,"y":480,"wires":[]},{"id":"981506d4.4a93e8","type":"function","z":"24ab74af.68300c","name":"Time in Date","func":"var date = new Date(1970, 1, 1, Math.round(msg.payload / 60), msg.payload % 60)\nmsg.payload = date\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":920,"wires":[["d4abe394.b1bec"]]},{"id":"44ec8e9c.d4fc1","type":"function","z":"24ab74af.68300c","name":"Time in Date","func":"var date = new Date(1970, 1, 1, Math.round(msg.payload / 60), msg.payload % 60)\nmsg.payload = date\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":980,"wires":[["2b145a13.aed0c6"]]},{"id":"762fdf56.3643","type":"function","z":"24ab74af.68300c","name":"Time in minutes","func":"var date = new Date(msg.payload)\nmsg.payload = date.getHours() * 60 + date.getMinutes()\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":920,"wires":[["2b0341b4.7102ae"]]},{"id":"bf41531b.44f6","type":"function","z":"24ab74af.68300c","name":"Time in minutes","func":"var date = new Date(msg.payload)\nmsg.payload = date.getHours() * 60 + date.getMinutes()\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":980,"wires":[["1b64be7.d670242"]]},{"id":"f1119f88.151ef","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"Start day time","tooltip":"","group":"bf1fc578.2906a8","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":"10","topic":"","x":700,"y":1260,"wires":[["d0625c04.bf1f2"]]},{"id":"aa8408a5.527a68","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"temperature_start_day_time","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":1260,"wires":[["91c3fac3.4e8e28"]]},{"id":"9cbf2f8e.b86b5","type":"ui_text_input","z":"24ab74af.68300c","name":"","label":"End day time","tooltip":"","group":"bf1fc578.2906a8","order":3,"width":0,"height":0,"passthru":true,"mode":"time","delay":"10","topic":"","x":690,"y":1320,"wires":[["1a60f514.af7ecb"]]},{"id":"fa087798.6c8e98","type":"inject","z":"24ab74af.68300c","name":"","topic":"","payload":"temperature_end_day_time","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":1320,"wires":[["43e60f04.9d4be"]]},{"id":"a366a78c.003348","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"temperature_start_day_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1260,"wires":[[]]},{"id":"53d50c16.240c24","type":"change","z":"24ab74af.68300c","name":"","rules":[{"t":"set","p":"temperature_end_day_time","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1320,"wires":[[]]},{"id":"91c3fac3.4e8e28","type":"function","z":"24ab74af.68300c","name":"Time in Date","func":"var date = new Date(1970, 1, 1, Math.round(msg.payload / 60), msg.payload % 60)\nmsg.payload = date\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1260,"wires":[["f1119f88.151ef"]]},{"id":"43e60f04.9d4be","type":"function","z":"24ab74af.68300c","name":"Time in Date","func":"var date = new Date(1970, 1, 1, Math.round(msg.payload / 60), msg.payload % 60)\nmsg.payload = date\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1320,"wires":[["9cbf2f8e.b86b5"]]},{"id":"d0625c04.bf1f2","type":"function","z":"24ab74af.68300c","name":"Time in minutes","func":"var date = new Date(msg.payload)\nmsg.payload = date.getHours() * 60 + date.getMinutes()\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1260,"wires":[["a366a78c.003348"]]},{"id":"1a60f514.af7ecb","type":"function","z":"24ab74af.68300c","name":"Time in minutes","func":"var date = new Date(msg.payload)\nmsg.payload = date.getHours() * 60 + date.getMinutes()\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1320,"wires":[["53d50c16.240c24"]]},{"id":"92c380ee.a41a5","type":"comment","z":"245d5f3.56f55a","name":"Temperature control test","info":"","x":170,"y":40,"wires":[]},{"id":"22ed4126.36b11e","type":"comment","z":"245d5f3.56f55a","name":"Pump control test","info":"","x":140,"y":300,"wires":[]}]